:root {
	--background-color: #dbdbdb;
	--text-color: #333;
	--border-color: #999;
	--link-color: blue;
}

.FilingCabinet {
	width: 100%;
	height: 100vh !important;
	background-color: var(--background-color);
	position: relative;
	overflow: visible;
	margin: 300px 0px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}

.FolderContainer {
	position: absolute;
	width: 75%;
	height: 100vh;
	display: flex;
	justify-content: center;
	will-change: opacity, transform;
	opacity: 0;
	transform: translateY(20px);
}

.FolderContainer.visible {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 0.5s ease-out, transform 0.5s ease-out,
		top 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.Folder {
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
	border: 1px solid var(--border-color);
	border-radius: 10px;
	left: 12.5%;
	transform: perspective(1000px) rotateX(-15deg);
	will-change: transform;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Folder.is-dragging {
	transform: none;
	transform: scaleX(1.14);
	margin-top: -49px;
}

.FolderContent {
	margin: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	text-align: left;
	width: calc(100% - 40px);
	transform: scaleX(calc(1 / 1.15));
	color: var(--text-color);
}

.FolderContentColumn {
	width: 48%;
}

.FolderContent h2 {
	font-size: 1.2em;
	margin-bottom: 10px;
	border-bottom: 1px solid var(--border-color);
	padding-bottom: 5px;
}

.FolderContent p {
	margin-bottom: 10px;
	font-size: 0.9em;
}

.FolderContent .description {
	font-style: italic;
}

.FolderContent .url a {
	color: var(--link-color);
	text-decoration: none;
	border-bottom: 1px dotted var(--text-color);
}

.FolderContent .stats {
	background-color: #d0d0d0;
	padding: 10px;
	border-radius: 5px;
	margin-top: 10px;
}

.FolderContent .stats p {
	margin: 5px 0;
}

.FolderContent .visibility {
	font-weight: bold;
	text-transform: uppercase;
}

.FolderTab {
	position: absolute;
	height: 40px;
	top: -93.5px;
	background-color: var(--background-color);
	border: 1px solid var(--border-color);
	border-bottom: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 12px;
	padding: 0 15px;
	border-radius: 10px 10px 0 0;
	color: var(--text-color);
	will-change: transform;
	transform: translateZ(0);
}

.FolderNumber {
	margin-right: 10px;
	font-weight: bold;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.UserInfo {
	display: flex;
	justify-content: center;
	text-align: left;
	gap: 30px;
	margin-bottom: -150px;
}

.UserInfoCard {
	display: flex;
	/* align-items: center; */
	border: 1px solid var(--border-color);
	border-radius: 10px;
	width: max-content;
	padding: 20px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.UserAvatar {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	margin-right: 1rem;
}

.UserDetails {
	line-height: 1.5;
}

.UserDetails p {
	margin: 0;
}
