:root {
	--background-color: #dbdbdb;
	--folder-color: #dbdbdb;
}

.FilingCabinet {
	width: 100%;
	height: 100vh !important;
	background-color: var(--background-color);
	position: relative;
	font-family: Helvetica, Arial, sans-serif;
	overflow: visible;
	margin: 150px 0px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}

.FolderContainer {
	position: absolute;
	width: 75%;
	height: 100vh;
	display: flex;
	justify-content: center;
	transition: top 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.Folder {
	width: 100%;
	height: 100%;
	background-color: var(--folder-color);
	border: 1px solid black;
	border-radius: 10px;
	left: 12.5%;
	transform: perspective(1000px) rotateX(-5deg);
}

.Folder.is-dragging {
	transform: none;
	transform: scaleX(1.04);
	margin-top: -19px;
}

.FolderContent {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.FolderContent p {
	margin-bottom: 10px;
}

.FolderContent img {
	max-width: 100%;
	height: auto;
}

.FolderTab {
	position: absolute;
	height: 40px;
	top: -59px;
	background-color: var(--folder-color);
	border: 1px solid black;
	border-bottom: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 12px;
	padding: 0 15px;
	border-radius: 10px 10px 0 0;
}

.FolderNumber {
	margin-right: 10px;
	font-weight: bold;
}

.FolderWall {
	position: absolute;
	top: 65vh;
	width: 95%;
	z-index: 99999;
}

.FolderLabel {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #ffff00;
	padding: 5px 10px;
	font-size: 14px;
	z-index: 99999;
	visibility: visible;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
